[user]
    name = {{ full_name }}
    email = {{ work_email }}

[core]
    editor = nano

[color]
    branch = auto
    diff = auto
    status = auto
    showbranch = auto
    ui = true

[credential]
    helper = store

[init]
    defaultBranch = main
