#!/bin/bash

AWS_PROFILE="$1"
OP_ITEM="$2"

[[ -e /home/{{ username }}/.bashrc.secrets ]] && source /home/{{ username }}/.bashrc.secrets

export AWS_VAULT_BACKEND=file
source /home/{{ username }}/.bashrc.secrets.aws_vault_file_passphrase

[[ -e /home/{{ username }}/.bashrc.secrets.op_password ]] && source /home/{{ username }}/.bashrc.secrets.op_password
op account get >/dev/null 2>&1 || eval "$(op signin <<< "${OP_PASSWORD}")"
unset OP_PASSWORD

aws-vault export  "${AWS_PROFILE}" --mfa-token "$(op item get --otp "${OP_ITEM}")" --format=json
