#!/bin/bash

AWS_PROFILE="$1"
OP_ITEM="$2"

export AWS_VAULT_BACKEND=file
# export AWS_VAULT_FILE_PASSPHRASE=<secret>
# export OP_PASSWORD=<secret>
source ~/.bashrc.secrets

aws-vault export "${AWS_PROFILE}" --mfa-token $(eval $(echo ${OP_PASSWORD} | op signin) && op item get --otp "${OP_ITEM}") --format=json
